@tailwind base;
@tailwind components;
@tailwind utilities;

$base-transition: 0.5s;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-black text-white;
}

#container {
  @apply border-2 h-[600px] mt-28 flex items-center justify-center relative;
}

#carousel {
  @apply border-2 border-red-500 h-full flex
    justify-center items-center overflow-x-scroll;
  position: relative;
  overflow: visible;
  width: auto;
}

#carousel img {
  position: absolute;
  height: 575px;
  transition: all 0s ease;

  &.base {
    position: relative;
    opacity: 0;
  }

  &.scrollLeft,
  &.scrollRight {
    transition: all $base-transition ease;
  }

  &.middle {
    position: absolute;
    z-index: 103;
    transform: translateX(0);
    &.scrollLeft {
      transform: translateX(45%);
      height: 500px;
    }
    &.scrollRight {
      transform: translateX(-45%);
      height: 500px;
    }
  }

  &.left1 {
    transform: translateX(-45%);
    z-index: 102;
    height: 500px;
    &.scrollLeft {
      height: 575px;
      transform: translateX(0%);
    }
    &.scrollRight {
      height: 425px;
      transform: translateX(-90%);
    }
  }

  &.left2 {
    transform: translateX(-90%);
    z-index: 101;
    height: 425px;
    &.scrollLeft {
      height: 500px;
      transform: translateX(-45%);
    }
    &.scrollRight {
      height: 375px;
      transform: translateX(-135%);
      opacity: 0;
    }
  }

  &.left3 {
    opacity: 0;
    transform: translateX(-135%);
    height: 350px;
    &.scrollLeft {
      transform: translateX(-90%);
      height: 425px;
      opacity: 1;
    }
  }

  &.right1 {
    transform: translateX(45%);
    z-index: 102;
    height: 500px;
    &.scrollLeft {
      height: 425px;
      transform: translateX(90%);
    }
    &.scrollRight {
      transform: translateX(0);
      height: 575px;
    }
  }

  &.right2 {
    z-index: 101;
    transform: translateX(90%);
    height: 425px;
    &.scrollLeft {
      height: 375px;
      transform: translateX(135%);
      opacity: 0;
    }
    &.scrollRight {
      transform: translateX(45%);
      height: 500px;
    }
  }

  &.right3 {
    opacity: 0;
    transform: translateX(135%);
    height: 350px;
    &.scrollRight {
      transform: translateX(90%);
      height: 425px;
      opacity: 1;
    }
  }

  @keyframes animateMiddleToLeft {
  }
}

#ghost-carousel {
  @apply border-2 border-red-500 h-full flex justify-center
    items-center overflow-x-scroll;
  position: relative;
  overflow: visible;
  width: auto;
}

#ghost-carousel img {
  position: absolute;
  height: 575px;
  transition: all 0s ease;
  opacity: 0;

  &.scrollLeft,
  &.scrollRight {
    transition: all $base-transition ease, opacity $base-transition ease;
  }

  &.left1 {
    transform: translateX(-45%);
    z-index: 110;
    height: 500px;

    &.scrollLeft {
      height: 575px;
      transform: translateX(0%);
      opacity: 1;
    }
    &.scrollRight {
      height: 425px;
      transform: translateX(-90%);
    }
  }

  &.right1 {
    transform: translateX(45%);
    z-index: 110;
    height: 500px;
    &.scrollLeft {
      height: 425px;
      transform: translateX(90%);
    }
    &.scrollRight {
      transform: translateX(0);
      height: 575px;
      opacity: 1;
    }
  }
}

* {
  border: none !important;
}
